<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.by.wind">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

<!--    <uses-permission android:name="android.permission.READ_CONTACTS" />-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/TranslucentTheme">
        <activity android:name=".ui.activity.SplashActivity">

            <!-- android:theme="@style/StartStyle"> -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.LoginActivity" />
        <activity android:name=".util.img.PicDisplayActivity" />
        <activity android:name=".ui.activity.RegisterActivity" />
        <activity android:name=".ui.activity.WebViewActivity"/>
        <activity android:name=".ui.activity.MainActivity"/>
        <!-- push start -->
        <!-- 使用完全自定义消息来开启应用的服务进程的示例服务配置 -->
        <service android:name=".component.service.MyNotificationService" />
        <service android:name=".component.service.UmengNotificationService" />
        <receiver android:name=".component.service.NotificationBroadcast" />

        <activity
            android:configChanges="orientation|keyboardHidden"
            android:name=".component.lib_zxing.activity.CaptureActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/TranslucentTheme"/>

        <!--魅族push应用定义消息receiver声明 -->
        <receiver android:name="com.by.wind.MeizuReceiver">
            <intent-filter>
                <!-- 接收push消息 -->
                <action android:name="com.meizu.flyme.push.intent.MESSAGE" />
                <!-- 接收register消息 -->
                <action android:name="com.meizu.flyme.push.intent.REGISTER.FEEDBACK" />
                <!-- 接收unregister消息-->
                <action android:name="com.meizu.flyme.push.intent.UNREGISTER.FEEDBACK" />
                <!-- 兼容低版本Flyme3推送服务配置 -->
                <action android:name="com.meizu.c2dm.intent.REGISTRATION" />
                <action android:name="com.meizu.c2dm.intent.RECEIVE" />
                <category android:name="com.by.wind"></category>
            </intent-filter>
        </receiver>


        <activity
            android:name="com.wind.base.permission.PermissionActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme_Dialog"/>

    </application>

</manifest>